body {
    background-color: #fbfbfb;
}

main{
  margin-bottom: 120px;
}

@media (min-width: 991.98px) {
    main 
    {
        padding-left: 320px;
        padding-bottom: 0px;
    }
}
  
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 320px;
  z-index: 600;
}

.sidebar-item{
  font-size: 26px;
  color: crimson;
  font-weight: bold;
}

.active 
{
  background-color: crimson !important;
  border: none;
}

@media (max-width: 991.98px) {
  .sidebar 
  {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
  
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Mobile navbar */

#mobileMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 100vw;
  height: 100px;
  z-index: 600;
}

@media (min-width: 991.98px) {
  #mobileMenu 
  {
    display: none !important;
  }
}

.navbar-item{
  font-size: 26px;
  color: crimson;
  font-weight: bold;
}

.mobile-nav-container
{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
}

#mobile-nav-items
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  flex-direction: column;
  height: calc(100% - 100px);
  width: 100%;
}

.mobile-nav-item
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  background-color: #eaeaea;

}


#logo
{
  font-size: 60px;
  font-weight: bolder;
}

.centering
{
  text-align: center !important;
}


.flex
{
  display: flex;
}

.flex-justify-center
{
  justify-content: center;
}

.flex-align-center
{
  align-items: center;
}

#home-title
{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 60px;
}

@media (max-width: 991.98px) {
  #home-title
  {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  #home-title
  {
    font-size: 26px;
  }
}



.font-16
{
  font-size: 16px;
}

#index-info-text
{
  background-color:blanchedalmond;
  border-radius: 30px;
}

.index-section
{
  background-color: aliceblue;
  border-radius: 10px;
}

.img-caption
{
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  width: calc(100% - 500px + 50px);
  margin: 0px -70px;
}

.flex-wrap
{
  flex-wrap: wrap;
}

#run-info-card
{
  background-color: #fff;
}

.flex-col
{
  flex-direction: column;
}


.col-gap
{
  gap: 5px;
}